@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&family=Unbounded:wght@200..900&display=swap');

.seo-report-aurora-bg {
  height: 130vh;
}

.analyze-your-web-loader-main-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}






.analyze-your-web-loader {
    background-color: #00000030;
    background-image: linear-gradient(120deg, #E2E2E2, #e2e2e280, #E2CBFF );
    width: 80%;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    padding-top: 0px;
    font-family: "Unbounded";
    text-align: center;
}

.analyze-your-web-loader-head {
  font-size: 50px;
  font-family: "Syne";
  margin-bottom: 40px;
}

.analyze-your-web-loader-para {
  font-size: 30px;
  font-family: "Unbounded";
  margin-bottom: 30px;
}

/* loader*/

.analyzing-progress-bar {
    width: 70%;
}
  
  /* Gradient animation for the progress bar */
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .progress-bar-gradient {
    background: linear-gradient(-45deg, #6366f1, #3b82f6, #06b6d4);
    background-size: 200% 200%;
    animation: gradient 2s ease infinite;
  }


@media (max-width: 768px) {
  .analyze-your-web-loader-main-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .seo-analyze-logo {
    height: 150px;
    width: 150px;
  }
  .aurora-bg {
    min-height: 100vh;
    max-height: max-content;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  .report-page-logo {
    height: 100px;
    width: 100px;
  }
  .analyze-your-web-loader {
    padding: 20px;
    width: 95%;
    padding-bottom: 40px;
    text-align: center;
  }
  .report-page-submit-btn {
    font-size: 13px;
  }
}

@media(max-width: 768px) {
  .aurora-bg {
    
    min-height: 100vh;
    max-height: 150vh;
  }
  .seo-report-aurora-bg {
    height: 150vh;
    padding-top: 10%;
  }
}