.report-popup {
    background-size: cover;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    position: relative;
    width: 60%;
    opacity: 1;
    font-family: "Syne";
}


.report-popup-para {
    font-family: "Unbounded";
    margin-bottom: 50px;
    color: #fff;
}

.report-popup-button {
    height: 50px;
    width: 150px;
    background-color: #fff;
    margin-right: 30px;
    border: 0px;
    border-radius: 10px;
    transition: 0.4s;
    color: #000;
}


@media (max-width: 1028px) {
    .report-popup {
        width: 70%;
    }
}
@media (max-width: 768px) {
    .report-popup {
        width: 80%;
    }
}

@media (max-width: 575px) {
    .report-popup {
        width: 90%;
    }
}