.graphic-page-hero-sec-container {
    height: 100vh;
    background-image: url("https://img.freepik.com/premium-photo/3d-black-podium-dark-geometric-background_167650-4016.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 100px;
}

.graphic-page-hero-sec-content {
    height: max-content;
    position: relative;
}

.graphic-page-hero-sec-head {
    font-size: 80px;
    font-family: "Inter";
    width:50%;
    margin:0px;
    padding: 0px ;
}

.graphic-page-hero-sec-para {
    font-size: 17px;
    text-align: center;
}
.graphic-page-hero-sec-para-last {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 23px;
}

@media (max-width: 768px) {
    .graphic-page-hero-sec-container {
        background-size: 200vh;
        background-repeat: no-repeat;
        height: 100vh;
        padding: 20px;
    }
    .graphic-page-hero-sec-head {
        font-size: 30px;
        font-family: "Inter";
        width:50%;
        margin:0px;
        padding: 0px ;
    }
    
    .graphic-page-hero-sec-para {
        font-size: 12px;
        text-align: center;
    }
    .graphic-page-hero-sec-para-last {
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 20px;
    }
}

/* section 2 */

.graphic-page-sec2-container {
    background-color: #E2E2E2;
    height: max-content; 
    color: #000;
    border-radius: 50px;
    padding: 80px;
}
.graphic-page-sec2-content {
    width: 50%;
}

.gif-graphic-design {
    width: 100%;
    height: 0;
    padding-bottom: 155%;
    position: relative;

}
.graphic-page-sec2-content-variety {
    font-weight: bold;
    font-size: 20px;
}
.graphic-page-sec2-content-head {
    font-size: 50px;
    font-family: "Syne"; 
    font-weight: bold;
}
.graphic-page-sec2-content-para {
    font-size: 20px;
}

.graphic-page-sec2-gif {
    width: 80%;
    margin-left: auto;
    border-radius: 20px;
}
.graphic-page-sec2-gif:hover {
    border-radius: 25px;
    width: 82%;
    transition: 0.4s;
    transition-timing-function: ease-in;
    box-shadow: 0px 0px 10px 1px #000;
}

.graphic-page-sec2-graphic-card {
    border-radius: 20px;
}

.graphic-page-sec2-graphic {
    width: 50%;
}


@media (max-width: 768px) {
    .graphic-page-sec2-container {
        height: max-content; 
        color: #000;
        padding: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
        flex-direction: column;
    }
    .graphic-page-sec2-graphic {
        width: 100%;
        
    }
    .graphic-page-sec2-content {
        width: 100%;
    }
    .graphic-page-sec2-content-variety {
        font-weight: bold;
        font-size: 12px;
    }
    .graphic-page-sec2-content-head {
        font-size: 20px;
    }
    .graphic-page-sec2-content-para {
        font-size: 12px;
    }
    .graphic-page-sec2-gif {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        border-radius: 20px;
    }
}



/* service section */

.graphic-page-services-sec-container {
    height: max-content;
    background-color: #000;
    border-radius: 50px;
    padding: 80px;
}

.graphic-page-services-sec-head {
    font-size: 100px;
    font-family: "Syne", sans-serif;
}
.graphic-page-services-sec-head-second {
    font-size: 100px;
    font-family: "Syne", sans-serif;
    position: relative;
    left: 200px;
}
.graphic-page-services-cards-container {
    width: max-content;
}
.graphic-page-services-card {
    width:23vw;
    height: 80vh;
    margin: 20px;
    align-items: center;
}
.graphic-page-services-card-img {
    height: 50vh;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.graphic-page-services-card-head {
    font-size: 25px;
    margin-bottom: 10px;
}
.graphic-page-services-card-para {
    font-size: 18px;
    width: 80%;
    padding-bottom: 70px;
}
.graphic-page-services-card-line {
    height: 5px;
    background-color: grey;
    border: 0px;
    border-radius: 20px;
}



@media (max-width: 768px) {
    .graphic-page-services-sec-container {
        padding: 20px;
    }
    .graphic-page-services-sec-head {
        font-size: 55px;
    }
    .graphic-page-services-sec-head-second {
        font-size: 55px;
        left: 50px;
    }
    .graphic-page-services-card {
        width:90vw;
        height: 50vh;
        margin: 15px;
    }
    .mobile-graphic-page-services-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .graphic-page-services-card-img {
        height: 30vh;
        width: 30vh;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    
    .graphic-page-services-card-head {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .graphic-page-services-card-para {
        font-size: 18px;
        width: 80%;
        padding-bottom: 50px;
        text-align: center;
    }
    .graphic-page-services-card-line {
        height: 5px;
        background-color: grey;
        border: 0px;
        border-radius: 20px;
    }
    
}



.main-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
 
  
  .image-hover {
    display: block;
    height:120px;
    color: white;
    text-decoration: none;
    text-align: center;
    transform-origin: top left;
    animation: skwoop 0.7s var(--easing) backwards;
    animation-duration: calc(0.6s + (var(--i) * 0.1s));
    animation-delay: calc((var(--i) * 50ms));
    cursor: pointer;
  
    @keyframes skwoop {
      from {
        opacity: 0;
        transform: translateY(5vh) skewY(5deg);
      }
    }
  
    .title {
      font-family: "Unbounded";
      font-weight: 900;
      font-size: 9vh;
      letter-spacing: 0.05ch;
  
      &::after {
        z-index: 5;
        color: transparent;
        -webkit-text-stroke: 2px #E2E2E2;
        
      }
    }
  
    > .img {
      position: relative;
      bottom: 30px;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 40%;
      max-height: 60vh;
      pointer-events: none;
      z-index: 2;
      visibility: hidden;
      opacity: 0;
      border-radius: 20px;
      box-shadow: 0px 0px 10px 1px #000;
      transition: opacity 0.2s linear, visibility 0s linear 0.2s;
    }
  
    &:hover,
    &:focus {
      z-index: 10;
      .title::after {
        display: block;
      }
      > .img {
        transition-delay: 0s;
        visibility: visible;
        opacity: 1;
      }
    }
  
  
  .image-hover > .img {
    --x-px: calc(var(--x) * 1px);
    --y-px: calc(var(--y) * 1px);
    top: 0;
    left: 0;
    transform: translate(var(--x-px), var(--y-px)) translate(-50%, -50%);
  }
}

.graphic-page-service-sec-para {
    color: grey;
    font-weight: bold;
    font-size: 20px;
}

.graphic-page-service-sec-line-content { 
    margin-top: 20px;
}

.graphic-page-service-sec-line {
    margin-left: 50px;
    margin-right: 50px;
}

.graphic-page-service-sec-button {
    background-color: #E2E2E2;
    border-radius: 30px;
    height: 40px;
    width: 150px;
    color:#000;
}


/* portfolio section */

.portfolio-sec-container {
    background-color: #E2E2E2;
    padding: 70px;
    border-radius: 50px;
}
.portfolio-container{
    color: #000;
}
.portfolio-sec-head-container {
    margin-top: 40px;
    margin-bottom: 50px;
}
.portfolio-sec-card-container {
    margin-top: 30px;
    margin-bottom: 90px;
}

.portfolio-sec-head {
    font-size: 100px;
    color:#000;
    font-family: "Syne", sans-serif;
}
.portfolio-sec-head-second {
    position: relative;
    color:#000;
    left: 300px;
    font-size: 100px;
    font-family: "Syne", sans-serif;
}

.portfolio-container-line {
    height: 1px;
    border: 0px;
    border-radius: 2px;
    background-color: #000;
}


.portfolio-sec-card-head {
    font-size: 30px;
    font-family: "Syne";
    color: #000;
}
.portfolio-sec-card-img {
    -webkit-transform: scale(1);
    width: 100%;
    height: 100%;
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.portfolio-sec-card-img:hover {
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}
figure {
	width: 50%;
	height: 400px;
	margin: 0;
	padding: 0;
	background: #E2E2E2;
	overflow: hidden;
    border-radius: 50px;
}


@media (max-width: 768px) {
    .portfolio-sec-container {
        padding: 20px;
        padding-top: 40px;
    }
    .portfolio {
        font-size: 12px;
    }
    .mobile-text-order {
        order: 1;
    }
    .portfolio-sec-head {
        font-size: 55px;
    }
    .portfolio-sec-head-second {
        left: 50px;
        font-size: 55px;
    }
    .portfolio-sec-card-container {
        flex-direction: column;
        align-items: center;
    }
    figure {
        width: 90%;
        height: 300px;
        margin: 0;
        padding: 0;
        background: #E2E2E2;
        overflow: hidden;
        border-radius: 50px;
    }
}


/* creative services */

.creative-service-section-container {
    background-color: #000;
    padding: 70px;
    height: max-content;
    border-radius: 50px;
}

.creative-service-head {
    font-size: 100px;
    color:#E2E2E2;
    font-family: "Syne", sans-serif;
}

.creative-service-head-second {
    position: relative;
    color:#E2E2E2;
    left: 300px;
    font-size: 100px;
    font-family: "Syne", sans-serif;
}
.creative-service-card-container {
    margin-top: 60px;
}
.creative-service-card {
    width: 23%;
}

.creative-service-card-content-line {
    height: 5px;
    border-radius: 20px;
    background-color: grey;
    border:0px;
    margin-top: 30px;   
}
.creative-service-card-content {
    font-size: 20px;
}
.creative-service-card-img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .creative-service-section-container {
        padding: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .creative-service-head {
        font-size: 55px;
    }
    
    .creative-service-head-second {
        left: 50px;
        font-size: 55px;
    }
    .creative-service-card-container {
        flex-wrap: wrap;
    }
    .creative-service-card {
        width: 100%;
        margin-bottom: 40px;
    }
}



/* overlapping sections */
.overlapping-cards {
    height: max-content;
}

.custom-card {
    height: max-content;
    border-radius: 50px;
    padding: 80px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  }
  
.overlapping-cards {
  height: 300vh;
  position: relative;
}
.card1 {
  z-index: 2;
  background-color: #E2E2E2;
}
.card2 {
  background-color:#E2E2E2;
  z-index: 3;
}
.card3 {
    background-color:#E2E2E2;
    z-index: 4;
}

.read-customer-stories {
    background-color: #000;
    border: 0px;
    border-radius: 20px;
    height: 60px;
    width: 250px;
    color: #E2E2E2;
}

.overlapping-card-img {

}

.graphic-page-sec2-gif {
    width: 80%;
    margin-left: auto;
    border-radius: 20px;
}
.graphic-page-sec2-gif:hover {
    border-radius: 25px;
    width: 82%;
    transition: 0.4s;
    box-shadow: 0px 0px 10px 1px #000;
}

@media (max-width: 768px) {
    .custom-card {
        height: 100vh;
        padding: 20px;
        padding-top: 40px;
        flex-direction: column;
    }
}
    




/* infinite scroll */


.infinite-text-section-container {
    background-color: #E2E2E2;
    height: 90vh;
    border-radius: 50px;
}

.scrolling-text-container {
    background-color: #000;
    border-radius: 4px;
    color: #E2E2E2;
    overflow: hidden;
    rotate: -6deg;
    height: 25vh;
    position: relative;
    top: 30%;
    right: 29px;
    z-index: 1;
    width: 110vw;
}
.scrolling-text-container-second {
    background-color: #E2E2E2;
    border-radius: 4px;
    color: #E2E2E2;
    overflow: hidden;
    rotate: 6deg;
    position: relative;
    top: 30%;
    height: 25vh;
    position: relative;
    right: 29px;
    width: 110vw;
}

/* Inner container styles */
.scrolling-text-inner {
    display: flex;
    white-space: nowrap;
    font-size:80px;
    font-weight: 600;
    padding: 8px 0;
}


/* Text styles */
.scrolling-text {
    display: flex;
}


.scrolling-text-item {
    padding: 0 30px;
    transform: translateX(-100%);
}
.scrolling-text-item-second {
    padding: 0 30px;
    border: 1px solid #000;
    border-radius:80px;
    margin-left: 20px;
    color: #000;
}

/* Apply the animation to the text items */
.scrolling-text-inner>div {
    animation: scroll-left 20s linear infinite;
    
}

/* Pause the animation when a user hovers over it */
.scrolling-text-container:hover .scrolling-text-inner>div {
    animation-play-state: paused;
}
.scrolling-text-container-second:hover .scrolling-text-inner>div {
    animation-play-state: paused;
}

/* Setting the Animation using Keyframes */
@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}


@media (max-width: 768px) {
    .infinite-text-section-container {
        height: 50vh;
    }
    .scrolling-text-container {
        rotate: -7deg;
        height: 10vh;
        top: 30%;
        right: 15px;
        width: 110vw;
    }
    .scrolling-text-container-second {
        rotate: 7deg;
        top: 30%;
        height: 10vh;
        right: 29px;
        width: 110vw;
    }
    .scrolling-text-inner {
        font-size:40px;
        font-weight: 600;
        padding: 10px;
    }
    .scrolling-text-item-second {
        padding: 0 20px;
    }
}