.about-us-hero-sec-container {
    height:109vh;
    overflow-x: hidden;
    position: relative;
}
.about-hero-model {
    position: absolute;
    top: 7%;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-80%);
    }
}
@keyframes scroll-right {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

.about-hero-infinite-text-1 {
    color: #ffffff20;
    top: 20%;
    left: 0%;
    overflow-x: hidden;
    position: absolute;
    white-space: nowrap;
    font-size: 180px;
    font-weight: 500;
    animation: scroll-left 20s linear infinite;
}
.about-hero-infinite-text-2 {
    color: #E2E2E2;
    top: 45%;
    right: 0%;
    overflow-x: hidden;
    position: absolute;
    white-space: nowrap;
    font-size: 180px;
    font-weight: 500;
    animation: scroll-right 20s linear infinite;

}

.about-hero-infinite-text-1, .about-hero-infinite-text-2 {
    will-change: transform; /* Optimize for smoother animations */
}
.about-hero-para-1 {
    padding: 0 30px;
    font-family: "Syne";
    transform: translateX(-100%);
}
.about-hero-para-2 {
    font-family: "Syne";
    padding: 0 30px;
    transform: translateX(0%);
}
.font-news {
    font-family: "Unbounded", serif;
    font-weight: 300;
}
.about-hero-bottom-para {
    font-family: "Syne";
    font-size: 20px;
}


@media (max-width: 1028px) {
    .about-us-hero-sec-container {
        height:100vh;
    }
    .about-hero-model {
        position: absolute;
        top: 5%;
        height: 80vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-hero-para-1 {
        font-size: 140px;
    }
    .about-hero-para-2 {
        font-size: 140px;
        
    }
    .about-hero-bottom-para {
        font-size: 17px;
    }
}

@media (max-width: 768px) {
    .about-hero-model {
        position: absolute;
        top: 0%;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-hero-para-1 {
        font-size: 100px;
    }
    .about-hero-para-2 {
        font-size: 100px;
        
    }
    .about-hero-bottom-para {
        font-size: 17px;
    }
}

/* impact Matric */

.impact-matrics-main-container {
    padding: 100px;
    height: 100vh;
}

.impact-matrics-line {
    position: absolute;
    align-self: center;
    bottom: 0%;
    border:0px;
    border-radius: 2px;
    height: 2px;
    width: 85%;
    background-color: #fff;
}
.impact-matrics-head-card {
    margin: 50px;
}
.impact-matrics-count-cards {
    margin: 30px;
}
.impact-matric-head-1 {
    font-size: 90px;
    font-family: "Syne";
    font-weight: bold;
    line-height: 150%;
}
.impact-matric-head-2 {
    font-size: 90px;
    font-weight: 500;
    font-family: "Unbounded";
    line-height: 150%;
}
.impact-matric-count-card-numbers {
    font-size: 120px;
    color: #fff!important;
}
.impact-matric-count-card-numbers-sign {
    font-size: 120px;
    color: grey;
}
.impact-matric-count-card-para{
    color: #ffffff50;
    font-family: "Unbounded";
}


/* responsiovenesss of impact metrics */

@media (max-width: 1280px) {
    .impact-matrics-main-container {
        padding: 60px;
        height: 75vh;
    }
    .impact-matric-head-1 {
        font-size: 60px;
    }
    .impact-matric-head-2 {
        line-height: 150%;
        font-size: 60px;
    }
}


@media (max-width: 1028px) {
    .impact-matrics-main-container {
        padding: 70px;
        height: 60vh;
    }
    .impact-matrics-head-card {
        margin: 40px;
    }
    .impact-matric-head-1 {
        font-size: 50px;
        font-family: "Syne";
        font-weight: bold;
    }
    .impact-matric-head-2 {
        line-height: 150%;
        font-size: 50px;
        font-family: "Unbounded";
        font-weight: 500;
    }
    .impact-matric-count-card-numbers {
        font-size: 80px;
    }
    .impact-matric-count-card-numbers-sign {
        font-size: 80px;
        color: grey;
    }
} 



@media (max-width: 768px) {
    .impact-matrics-main-container {
        padding: 20px;
        height: 100vh;
    }
    .impact-matrics-head-card {
        margin: 0px;
    }
    .impact-matric-count-card {
        margin-bottom: 20px;
    }
    .impact-matrics-count-cards {
        margin: 0px;
        flex-direction: column;
        align-items: flex-start;
    }
    .impact-matric-head-1 {
        font-size: 50px;
        font-family: "Syne";
        font-weight: bold;
        line-height: 150%;
    }
    .impact-matric-head-2 {
        font-size: 50px;
        line-height: 150%;
        font-family: "Unbounded";
        font-weight: 500;
    }
    .impact-matric-count-card-numbers {
        font-size: 60px;
    }
    .impact-matric-count-card-numbers-sign {
        font-size: 60px;
        color: grey;
    }
}

@media (max-width: 575px) {
    .impact-matrics-main-container {
        padding: 20px;
        padding-top: 50px;
        padding: 20px;
        height: 100vh;
    }
    .impact-matrics-head-card {
        margin: 0px;
        justify-content: center;
        margin-bottom: 50px;
    }
    .impact-matric-head-1 {
        font-size: 40px;
        line-height: 100%;
    }
    .impact-matric-head-2 {
        font-size: 40px;
        line-height: 100%;
    }
    
    .impact-matric-count-card {
        margin-bottom: 20px;
    }
    .impact-matrics-count-cards {
        margin: 0px;
        flex-direction: column;
        align-items: flex-start;
    }
    .impact-matric-count-card-numbers {
        font-size: 70px;
    }
    .impact-matric-count-card-numbers-sign {
        font-size: 70px;
        color: grey;
    }
}


/* inspired by section */
.inspired-us-main-container {
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 0px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.inspired-us-content-card {
    width: 25%;
}
.inspired-us-content-card-right {
    width:25%;
    align-self: flex-end;
    position: relative;
    bottom: 50px;

}
.inspired-us-content-card-para {
    font-family: "Unbounded" ,sans-serif;
    font-weight: 300;
    color: grey;
    margin-bottom: 35px;
    margin-top: 35px;
}
.inspired-us-content-card-line {
    border: 0px;
    height: 1px;
    background-color: grey;
    border-radius: 2px;
}
.inspired-us-content-card-btn {
    border: 1px solid #E2E2E2;
    color:  #E2E2E2;
    width: 50%;
    height: 50px;
    border-radius: 30px;
    font-weight: bold;
}
.inspired-us-content-card-between {
    display: flex;
    margin-top: 20%;
    justify-content: space-between;
    align-items: center;
}
.inspired-us-content-card-head {
    font-size: 37px;
    font-family: "Unbounded";
    color: #fff !important;
}
.inspired-video-card {
    margin-top: 10%;
    align-self: center;
    border-radius: 100px;
    width: 100vw;
    height: max-content;
}
video::-webkit-media-controls {
    display: none !important;
}
.inspired-video-content {
    position: absolute;
    top: 48%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #fff!important;
}

.inspired-video-content-head {
    font-family: "Syne";
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 20px;
}

.inspired-video-content-para {
    font-family: "Unbounded";
}
.inspired-us-content-card-btn-case {
    border: 1px solid #E2E2E2;
    align-self: center;
    color:  #E2E2E2;
    width: 15%;
    height: 50px;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 50px;
}


@media (max-width: 1028px) {
    .inspired-us-main-container {
        padding: 20px;
        padding-top: 0px;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .inspired-us-content-card {
        width: 70%;
    }
    .inspired-us-content-card-right {
        width:70%;
        align-self: flex-start;
        position: relative;
        bottom: 0px;
    
    }
    .inspired-us-content-card-between {
        flex-direction: column;
        margin-top: 20%;
        gap: 30px;
        align-items: flex-start;
    }
    .inspired-us-content-card-btn-case {
        width: 50%;
    }
    .inspired-video-card {
        margin-top: 0%;
        width: 100%;
        height: 100vh;
    }
    .inspired-video-content {
        position: relative;
        margin-top: 0%;
        top: 20%;
        width: 100%;
    }
    
    .inspired-video-content-head {
        font-size: 35px;
    }
} 



@media (max-width: 768px) {
    .inspired-us-main-container {
        padding: 20px;
        padding-top: 0px;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .inspired-us-content-card {
        width: 70%;
    }
    .inspired-us-content-card-right {
        width:70%;
        align-self: flex-start;
        position: relative;
        bottom: 0px;
    
    }
    .inspired-us-content-card-between {
        flex-direction: column;
        margin-top: 20%;
        gap: 30px;
        align-items: flex-start;
    }
    .inspired-us-content-card-btn-case {
        width: 50%;
    }
    .inspired-video-card {
        margin-top: 0%;
        width: 100%;
        height: 100vh;
    }
    .inspired-video-content {
        position: relative;
        margin-top: 0%;
        font-family: "Syne";
        top: 30%;
        width: 90%;
        color: #fff !important;
    }
    
    .inspired-video-content-head {
        font-size: 35px;
    }
}
@media (max-width: 575px) {
    .inspired-us-content-card-btn {
        width: 70%;
    }
}


@media (max-width: 768px) {
    .lets-grow-head {
        top: 30%;
    }
}




/* founders section */
.founders-main-container {
    padding: 80px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: max-content;
}
.words-from-our-founders {
    font-family: "Syne";
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 30px;
}
.founder-img-cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.founder-img-card {
    display: flex;
    flex-direction: column;
}

.founder-img {
    border-radius: 80px;
    margin: 30px;
    height: 65vh;
    width: 65vh;
}


.founder-content-card {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: #fff!important;
}
.founder-content-para {
    font-family: "Unbounded";
    font-weight: 500;
    font-size: 15px;
    width: 90%;
}

.founder-card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 7%;
    margin-bottom: 10%;
}

.text-right {
    text-align: right;
}

@media (max-width: 1280px) {
    .founder-img {
        border-radius: 80px;
        margin: 20px;
        height: 50vh;
        width: 50vh;
    }
}

@media (max-width: 1028px) {
    .founders-main-container {
        padding: 20px;
        padding-top: 40px;
        height: max-content;
    }
    .founder-img-cards {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 30px;
    }
    .founder-img-card {
        margin-bottom: 10%;
    }
    .founder-img {
        border-radius: 80px;
        margin: 20px;
        height: 50vh;
        width: 50vh;
    }
}

@media (max-width: 768px) {
    .founders-main-container {
        padding: 20px;
        padding-top: 40px;
        height: max-content;
    }
    .words-from-our-founders {
        font-family: "Syne";
        font-weight: bold;
        font-size: 50px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .founder-img-cards {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 30px;
    }
    .founder-img {
        border-radius: 80px;
        margin: 20px;
        height: 50vh;
        width: 50vh;
    }
    .founder-img-card {
        margin-bottom: 10%;
    }
}
@media (max-width: 575px) {
    .words-from-our-founders {
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .founder-img-card {
        margin-bottom: 10%;
        align-items: center;
    }
    .founder-img {
        margin: 10px;
        height: 60vh;
        width: 60vh;
    }
}






/* lets grow section */
.lets-grow-main-container {
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lets-grow-head {
    position: relative;
    top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-lets-model {
    position: relative;
    bottom: 10%;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lets-grow-btn-card {
    position: relative;
    bottom: 23%;
}
.lets-grow-btn {
    border: 1px solid #E2E2E2;
    align-self: center;
    color:  #E2E2E2;
    height: 50px;
    width: 150px;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 20px;
}