.thankyou-main-container {
    background-size: cover;
    height: 100vh;
}

.thanks-bg-blur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    backdrop-filter: blur(20px);
    height: 100%;
}

.thankyou-head {
    font-size: 70px;
    font-family: "Syne";
    margin-bottom: 20px;
    font-weight: bold;
}

.thankyou-para {
    font-size: 25px;
    font-family: "Unbounded";
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .thanks-bg-blur {
        padding: 30px;
    }
    
    .thankyou-head {
        font-size: 30px;
    }
    
    .thankyou-para {
        font-size: 15px;
    }
    .thankyou-btn {
        width: 130px;
    }
}

@media (max-width: 575px) {
    .thanks-bg-blur {
        padding: 25px;
    }
    
    .thankyou-head {
        font-size: 32px;
    }
    
    .thankyou-para {
        font-size: 13px;
    }
    .thankyou-btn {
        width: 150px;
    }
}