.mobile-tracing-beam {
    display: none;
}

@media (max-width: 768px) {
    .tracing-beam {
        display: none;
    }
    .mobile-tracing-beam {
        display: block;
    }
}

.font-syne {
    font-family: "Syne"; 
    font-size: 60px;
}
.spotlight2 {
    position: absolute;
    top:-180px;
    left:12%;
    rotate: 110deg;
}

.service-hero-sec-container {
    height: 100vh;
    background-color: #000;
    padding: 100px;
    scroll-snap-align: center;
}

.service-hero-sec-content-img {
    position:relative;
    transition: 0.4s;
    z-index: 10;
}

.service-hero-sec-content-img:hover {
    rotate: 10deg;
}

.service-hero-sec-content-para {
    font-size: 17px;
    color: #fff;
}
.service-hero-sec-content-button {
    height: 50px;
    width: 150px;
    background-color: #fff;
    margin-right: 30px;
    border: 0px;
    border-radius: 10px;
    transition: 0.4s;
    color: #000;
}

.see-more {
    background-color: transparent;
    backdrop-filter: 4px;
    color: #fff;
    margin-right:0px;
    border: 2px solid #fff;
}

.service-hero-sec-content-button:hover {
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
    width: 160px;
    height: 55px;
    box-shadow: 0px 0px 10px 1px #fff;
}

/* pop up */

.service-page-popup {
    background-image: url("https://res.cloudinary.com/dgdgrniut/image/upload/v1734538406/DALL_E_2024-12-18_20.22.23_-_A_minimalist_background_image_for_a_website_featuring_a_black_theme_with_subtle_glowing_light_effects_or_abstract_objects_in_the_center._The_objects_zin44f.webp");
    background-size: cover;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    position: relative;
    width: 30%;
    opacity: 1;
    font-family: "Syne";
}
.service-page-popup-head {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

@media (max-width: 1280px) {
    .service-page-popup {
        width: 40%;
    }
}
@media (max-width: 1028px) {
    .service-page-popup {
        width: 45%;
    }
}
@media (max-width: 768px) {
    .service-page-popup {
        width: 55%;
    }
}





@media (max-width: 1280px) {
    .spotlight2 {
        display: none;
    }
    .service-hero-sec-container {
        height: max-content;
        padding: 30px;
        padding-bottom: 0px;
        margin-top: 30%;
    }
    .service-hero-sec-content-buttons-card {
        align-items: flex-start;
        margin-top: 5%;
    }
}

@media (max-width: 768px) {
    .spotlight2 {
        display: none;
    }
    .service-hero-sec-container {
        height: 90vh;
        padding: 30px;
        text-align: left;
        margin-top: 30%;
    }
    .font-syne {
        font-family: "Syne"; 
        font-size: 30px;
    }
    .service-hero-sec-content-buttons-card {
        align-items: flex-start;
        margin-top: 15%;
    }
    .service-hero-sec-content-button {
        height: 40px;
        width: 110px;
        background-color: #fff;
        border: 0px;
        border-radius: 10px;
        transition: 0.4s;
        color: #000;
    }
}



/* section 2 */
.services-sec2-main-component {
    height: max-content;
    background-color: #000;
    padding: 70px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.services-sec2-flex-card {
    width: 25%;
    margin-bottom: 0px;
    margin-top: 50px;
    height: 80vh;
}
.services-sec2-card {
    transition: 0.4s;
}



.services-sec2-card-content {
    display: none;
}

.services-sec2-card-img {
    transition: 0.4s;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 90%;
    margin-top: 25px;
    margin-right: 12px;
    margin-left: 12px;
}
.services-sec2-card:hover {
    
    
        background-color: #fffFFF70;
        backdrop-filter: blur(10px);
        border-radius: 20px;
        padding: 23px;
        margin-top: 25px;
        margin-right: 12px;
        margin-left: 12px;
    
    .services-sec2-card-content {
        display: flex;
    }
    .services-sec2-card-img {
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;
    }
}


.services-sec2-card-content-key {
    font-size: 15px;
}
.services-sec2-card-content-value {
    font-weight: bold;    
    font-size: 17px;
} 
@media (max-width: 1280px) {
    .services-sec2-main-component {
        padding-top:0px;
        padding: 50px;
    }
}

@media (max-width: 1028px) {
    .services-sec2-main-component {
        display: flex;
        margin-bottom: 0px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 40px;
    }
    .services-sec2-flex-card {
        width: 45%;
        margin-bottom: 0px;
        margin-top: 50px;
        height: max-content;
    }
    .services-sec2-card {
        width: 90%;
        height:50%;
        background-color: #fffFFF70;
        backdrop-filter: blur(10px);
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 0px;
        margin-top: 25px;
        margin-right: 12px;
        margin-left: 12px;
    }
    .services-sec2-card-content {
        display: flex;
    }
    .services-sec2-card-img {
        transition: 0.4s;
        border-radius: 20px;
        margin-bottom: 10px;
        width: 100%;
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
    
    }
}


@media (max-width: 768px) {
    .services-sec2-main-component {
        display: flex;
        margin-bottom: 0px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 15px;
        height: 450vh;
    }
    .services-sec2-flex-card {
        width: 90%;
        margin-bottom: 50px;
        margin-top: 50px;
        height: 90vh;
    }
    .services-sec2-card {
        width: 90%;
        height:50%;
        background-color: #fffFFF70;
        backdrop-filter: blur(10px);
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 50px;
        margin-top: 25px;
        margin-right: 12px;
        margin-left: 12px;
    }
    
    .services-sec2-card-content {
        display: flex;
    }
    .services-sec2-card-img {
        transition: 0.4s;
        border-radius: 20px;
        margin-bottom: 10px;
        width: 100%;
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
    
    }
}


/* section 3 */


.services-sec3-flex-main-component {
    color: #000;
   background-color: #E2E2E2;
    padding: 70px;
   height: max-content;
}
.services-sec3-content {
    padding: 20px;
    width: 70%;
}

.services-secs-content-para {
    font-size: 19px;
    color: #000;
}

.services-sec3-content-features {
    height: 50px;
    width: 180px;
    padding: 10px;
    font-size: 17px;
    color: #000;
    gap: 10px;
    font-weight: 500;
    background-color: #00000030;
    border-radius: 30px;
    transition: 1s;
}

.services-sec3-content-features:hover {
    background-image: linear-gradient(120deg, #00000050, #00000030, #00000030, #00000030); 
}
.services-sec3-img {
    border-radius: 30px;
    width: 30%;
    height: 75%;
    transition: 0.4s;
}
.services-sec3-img:hover {
    rotate: 10deg;
}

@media (max-width: 1028px) {
    .services-sec3-flex-main-component {
        padding: 30px;
        padding-top: 50px;
        justify-content: flex-start;
    }
    .services-sec3-content {
        margin-right: 30px;
        width: 60%;
    }
}

@media (max-width: 768px) {
    .services-sec3-flex-main-component {
        flex-direction: column;
        justify-content: flex-start;
        padding: 15px;
        padding-top: 30px;
        height: max-content;
    }
    .services-sec3-content {
        padding: 10px;
        width: 100%;
    }
    .services-secs-content-para {
        font-size: 15px;
    }
    .services-sec3-content-features {
        height: 40px;
        width: 140px;
        padding: 10px;
        font-size: 13px;
    }
    .services-sec3-img {
        border-radius: 30px;
        width: 50%;
        height: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        transition: 0.4s;
    }
}

@media (max-width: 575px) {
    .services-sec3-img {
        border-radius: 30px;
        width: 70%;
        height: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        transition: 0.4s;
    }
}

/* section 4 */
.services-sec4-main-container {
    height: max-content;
}
.services-secs-main-container {
    padding: 70px;
    background-color: #E2E2E2;
    color: #000;
}
.services-secs-para {
    color: #00000080;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

.services-secs-head {
    font-size: 50px;
    margin-bottom: 10px;
    line-height: 100%;
    height: max-content;
    width: 100%;
    font-weight: 500;
    font-family: "Syne", sans-serif;
}
.services-sec4-content-card {
    width: 28%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.services-sec4-content-card-right {
    width: 28%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.services-sec4-card-logo {
    height: 95px;
    width: 95px;
    border-radius: 20px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    box-shadow: inset 0px -4px 5px 1px #000;
    transition: 0.4s;
    margin-bottom: 20px;
}
.services-sec4-card-logo:hover {
    box-shadow: inset 0px 0px 10px 1px #000;

}
.services-sec4-card-head {
    font-size: 27px; 
    font-weight: 600;
    margin-bottom: 10px;
}
.services-sec4-card-para {
    font-size: 18px;
    margin-bottom: 25px;
}
.services-sec4-card-line  {
    border:0px;
    height: 5px;
    background-color: #00000050;
    border-radius: 20px;
}
@media (max-width: 1280px) {
    .services-secs-main-container {
        padding: 30px;
        background-color: #E2E2E2;
        color: #000;
    }
    .services-secs-head {
        font-size: 40px;
    }
    .services-sec4-content-card {
        width: 45%;
        height: 35vh;
        animation:fadeInLeft 2s ease-out;
        animation-timeline: view(80% 0%);
    }
    .services-sec4-content-card-right {
        width: 45%;
        height: 35vh;
        animation:fadeInRight 2s ease-out;
        animation-timeline: view(80% 0%);
    }
}

@media (max-width: 1028px) {
    .services-secs-main-container {
        padding: 50px;
        background-color: #E2E2E2;
        color: #000;
    }
    .services-secs-head {
        font-size: 30px;
    }
    .services-sec4-content-card {
        width: 45%;
    }
    .services-sec4-content-card-right {
        width: 45%;
    }
}

@media (max-width: 768px ) {
    .services-secs-main-container {
        padding: 15px;
        padding-top: 50px;
        align-items: flex-start;
        text-align: left;
    }
    .services-sec4-main-container {
        height: max-content;
    }
    .services-secs-head {
        font-size: 25px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .services-secs-para {
        color: #00000080;
        font-size: 15px;
    }
    
    .services-sec4-content-card {
        width: 90%;
        height: 50vh;
    }
    .services-sec4-content-card-right {
        width: 90%;
        height: 50vh;
    }
}

/* section 6 */
.services-sec6-main-container {
    height: 90vh;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 0px;
}
.mobile-services-sec6-main-container {
    display: none;
    
}

.services-secs-main-para {
    color: grey;
    font-size: 17px;
    font-weight: 600;
}
.services-sec6-left-content {
    width: 45%;
}
.services-sec6-left-content-para {
    font-size: 20px;
}
.services-sec6-right-content {
    width: 50%;
}
.services-sec6-right-content-card-img {
    height: 80px;
    width: 80px;
    margin-right: 20px;
}
.services-sec6-right-content-card-content-head {
    font-size: 19px;
    margin-bottom: 10px;
    font-weight:bold;
}

.mobile-services-sec6-right-content {
    display: none;
}
.services-sec6-right-content-card {
    transition: 0.4s;
    padding: 10px;
    border-radius: 20px;
}
.services-sec6-right-content-card:hover {
    box-shadow: -5px 5px 10px 1px #fff;
}
@media (max-width: 1280px) {
    .services-sec6-main-container {
        padding: 35px;
        padding-top: 10%;
        height: 50vh;
    }
    
    .services-secs-main-para {
        font-size: 15px;
    }
    .services-sec6-left-content-para {
        font-size: 15px;
    }
    .services-sec6-right-content-card-img {
        height: 70px;
        width: 70px;
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .services-sec6-main-container {
        display: none;
    }
    .mobile-services-sec6-main-container {
        display: block;
        height: max-content;
        padding: 15px;
        padding-top: 150px;
        padding-bottom: 0px;
        flex-direction: column;
    }
    .services-secs-main-para {
        font-size: 15px;
    }
    .services-sec6-left-content {
        width: 100%;
    }
    .services-sec6-left-content-para {
        font-size: 15px;
        margin-bottom: 20px;
    }
    .services-sec6-right-content-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .services-sec6-right-content {
        display: flex;
        flex-direction: column;
        height: max-content;
        width: 100%;
        padding-bottom: 50px;
    }
}

/* section 7 */
.services-sec7-main-container {
    padding: 80px;
    height: max-content;
}
.services-sec7-card {
    background-image: url("https://cdn.sanity.io/images/k0dlbavy/production/64b450f8afc758fd3f221ee2f30f3d6589d2529f-2160x831.png?auto=format&fit=max&q=100&w=1080");
    background-size: cover;
    height: max-content;
    width: 100%;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 4px 4px 5px 1px #fff;
}

.book-a-call {
    height: 50px;
    width: 150px;
    background-color: #fff;
    margin-right: 30px;
    border: 0px;
    border-radius: 10px;
    transition: 0.4s;
    color: #000;
}
.services-sec7-content-para {
    font-size: 19px;
    color: #fff;
}
.book-a-call:hover {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 1px #fff;
}
.ai-design-service {
    transition: 2s;
    font-size: 18px;
    font-weight: 500;
}
.ai-design-service:hover {
    gap: 5px;   
}
@media (max-width: 1028px) {
    .services-sec7-card-content {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .services-sec7-main-container {
        padding: 15px;
        height: max-content;
    }
    .services-sec7-card {
        height: max-content;
        width: 100%;
        padding: 15px;
    }
    .services-sec7-card-content {
        width: 100%;
    }
    .services-secs-main-para {
        font-size: 15px;
    }
    .services-sec7-content-para {
        font-size: 13px;
    }
}

/* section 8 */

.services-sec8-main-container {
    padding: 100px;
    height: max-content;
    background-color: #E2E2E2;
    color: #000;
    /*background-image: radial-gradient(#06052e, #000);*/
}

.services-sec8-card {
    background-color: #00000010;
    backdrop-filter: blur(10px);
    box-shadow: inset -1px -1px 0px 1px #000;
    height: 35vh;
    padding: 30px;
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    transition: 0.4s;
}
.services-sec8-card:hover {
    box-shadow: inset 1px 1px 0px 1px #00000050;
    color: #fff;
    background-color: #000;
    /*background-image: linear-gradient(120deg, #00000020, #00000010, #00000000);
*/
}
.services-sec8-card-title {
    font-family: "Unbounded";
}

.services-sec8-card-count {
    font-family: "Syne";

}

@media (max-width: 1280px) {
    .services-sec8-card {
        height: 25vh;
        padding: 25px;
        width: 24%; 
    }
}

@media (max-width: 1028px) {
    .services-sec8-card {
        height: 20vh;
        padding: 20px;
        width: 45%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .services-sec8-main-container {
        padding: 15px;
        height: max-content;
        padding-bottom: 30px;    
        padding-top: 30px;    
    }
    .services-sec8-content-cards {
        flex-direction: column;
    }
    .services-sec8-card {
        height: 35vh;
        width: 100%;
        padding: 30px;
        margin-bottom: 20px;
    }
}


/* contact-our-expert */

.contact-our-expert-container {
    height: 50vh;
    padding: 50px;
    margin-bottom: 30px;
}
.contact-our-expert-card {
    background-color: #ffffff70;
    border-radius: 50px;
}
.contact-our-expert-card-content {
    padding: 50px;
}
.contact-our-expert-card-img {
    width: 30%;
} 
.contact-our-expert-card-content-head {
    font-size: 30px;
    font-weight: 500;
    font-family: "Syne", sans-serif;
}
.contact-our-expert-card-content-btn {
    height: 50px;
    width: 170px;
    background-color: #fff;
    margin-right: 30px;
    border: 0px;
    border-radius: 10px;
    transition: 0.4s;
    color: #000;
}
@media (max-width: 1280px) {
    .contact-our-expert-container {
        height: max-content;
        padding: 30px;
        margin-bottom: 0px;
    }
    .contact-our-expert-card-img {
        width: 40%;
    } 
    .contact-our-expert-card-content {
        padding: 40px;
    }
}

@media (max-width: 1028px) {
    .contact-our-expert-container {
        height: max-content;
        padding: 30px;
        margin-bottom: 30px;
    }
    .contact-our-expert-card-content {
        padding: 40px;
    }
    .contact-our-expert-card-img {
        width: 50%;
    } 
    .contact-our-expert-card-content-head {
        font-size: 20px;
    }
    .services-sec7-content-para {
        font-size: 15px;
    }
    .contact-our-expert-card-content-btn {
        height: 40px;
        width: 140px;
        font-size: 12px;
        margin-right: 30px;
        border-radius: 10px;
    }
}

@media (max-width: 768px) {
    .contact-our-expert-container {
        padding: 15px;
        height: max-content;
    }
    .contact-our-expert-card {
        flex-direction: column;
        border-radius: 20px;
    }
    .contact-our-expert-card-content {
        padding: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .contact-our-expert-card-content-head {
        font-size: 17px;
    }
    .services-sec7-content-para {
        font-size: 12px;
    }
    .contact-our-expert-card-content-btn {
        height: 40px;
        width: 140px;
        font-size: 12px;
        margin-right: 30px;
        border-radius: 10px;
    }
    .contact-our-expert-card-img {
        width: 100%;
        height: 50vh;
        order:-1;
    }
}


/* dynamic content card */
.services-dynamic-main-container {
    padding: 100px;
    padding-top:0px;
    background-color: #E2E2E2;
    color: #000;
}

.dynamic-content-card {
    border-radius: 50px;
    border: 2px solid grey;
    height: 60vh;
}
.dynamic-content-card-left {
    background-color: grey;
    padding: 50px;
    width: 100%;
    text-align: left;
    font-family: "Unbounded";
    color :#000;
}
.dynamic-content-card-left-line {
    background-color: #000;
    height: 1px;
    border: 0px;
}


@keyframes objectRotate {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

.dynamic-content-card-right-object {
    right: 50px;
    top: 200px;
    position: absolute;
    animation: objectRotate 5s infinite;
}
.dynamic-content-card-left-para {
    font-family: "Unbounded";
}
.active-para {
    font-weight: 600;
}

.dynamic-content-card-right {
    width: 100%;
    padding: 40px;
    padding: 50px;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

@media (max-width: 1280px) {
    .dynamic-content-card {
        height: max-content;
    }
}

@media (max-width: 1028px) {
    .services-dynamic-main-container {
        padding: 40px;
    }
    .dynamic-content-card-right-object {
        right: 50px;
        top: 100px;
    }
    .dynamic-content-card-left {
        padding: 35px;
    }
    .dynamic-content-card-right {
        padding: 35px;
    }
    .dynamic-content-card-left-para {
        font-size: 17px;
    }
}

@media (max-width: 768px) {
    .services-dynamic-main-container {
        display: none;
    }
}


/* cards 3d section */
.services-3dcard-main-container {
    height: max-content;
}
.mobile-services-3dcard-main-container {
    display: none;
}
.mobile-card-3d-container {
    width: max-content;
    margin-top: 30px;
}
.mobile-card-3d {
    width: 100%;
    margin-right: 50px;
}


@media (max-width: 768px) {
    
    
    .mobile-card-3d-container {
        margin-top: 30px;
    }
    .mobile-card-3d {
        width: 85%;
        margin-right: 0px;
    }
    .mobile-card-3d-head {
        font-size: 15px;
    }
    .mobile-card-3d-para {
        font-size: 10px;
        width: 85%;
    }
    .mobile-card-3d-img {
        width: 100%;
    }
}


/* FAQ */
.faq-container {
    
    padding: 90px;
    height: max-content;
}


.faq-content {
    backdrop-filter: blur(30px);
    border-radius: 20px;
    padding: 20px;
}
.faq-card {
    height:40vh;
    width: 80%;
    border-radius: 10px;
    background-color: #ffffff50;
}
.faq-card-inner {
    height: 35vh;
    width: 95%;
    border-radius: 10px;
    background-color: #ffffff80;
    padding: 40px;
}
.faq-card-inner-img {
    width: 100%;
}

.faq-card-inner-button {
    background-color: #000;
    height: 40px;
    width: 170px;
    border: 0px;
    border-radius: 7px;
    transition: 1s;
}
.faq-card-inner-button:hover {
    gap: 5px;
}

@media (max-width: 1280px) {
    .faq-container {
        padding: 40px;
        
    }
}

@media (max-width: 1028px) {
    .faq-container {
        padding: 30px;
    }
}

@media (max-width: 768px) {
    .faq-container {
        flex-direction: column;
        padding: 15px;
        padding-bottom: 50px;
    }
    .faq-content {
        width: 100%;
        padding: 10px;
    }
    .faq-content-head {
        width: 100%;
    }
    .faq-people-img {
        height: 80px;
        width: 80px;
    }
    .faq-right-container {
        width: 100%;
        min-height: 100vh;
    }
}

