@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&family=Unbounded:wght@200..900&display=swap');
body{
    margin: 0px;
    font-family: 'Red Hat Display', sans-serif !important;
    scroll-behavior: smooth;
    background-color: #090909 !important;
    max-height: 780vh;
}
.tracing-beam-height {
    height: 100%;
}

.page-main {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: "Oswald", sans-serif;
    height: min-content;
    
    .spline {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        background-color: #000;
    }
}
.display-none-mobile-navbar {
    display: none;
}

.model {
    max-height: 90vh;
    position: relative;
    height: 100vh;
}
.text-gen {
    font-size: 40px;
}


.home-hero-sec{
    height: 100vh;
}

/* transparent section */

.Transparent-section {
    height: 90vh;
    z-index: -999999;
    background-color: transparent;
}





/* nav bar */
.navbar {
    transition: 1s;
    backdrop-filter: blur(7px);
}

.navbar:hover {
    box-shadow: 0px 0px 20px 1px #fff;
    
}

.navbar-company-logo {
    height: 70px;
    width: 200px;
}

/* what we do hover content */

.what-we-do-links {
    height: 80vh;
    width: 80vw;
    color: #000;
    background-color: #E2E2E210;
    backdrop-filter: blur(10px);
    font-family: "Unbounded";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.what-we-do-hover-header {
    padding: 35px;
    display: flex;
    height: 80%;
    justify-content: space-between;
}
.what-we-do-hover-footer {
    background-image: url("https://media.istockphoto.com/id/1407063872/vector/modern-abstract-background-with-black-gradient-abstract-black-business-background.jpg?s=612x612&w=0&k=20&c=6QftyGArm3LTpQsLw29DpZ9ZB42HMNK-wboAWyFZvto=");
    background-size: cover;
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 30px;
    color: #fff;
    height: 20%;
}

.what-we-do-hover-sec1 {
    width: 30%
}
.what-we-do-hover-secs {
    width: 20%;
}

.what-we-do-hover-sec1-head {
    font-family: "Syne";
    font-size: 30px;
}
.what-we-do-hover-sec1-para {
    color: grey;
    font-size: 12px;
    margin-bottom: 20px;
}
.what-we-do-hover-sec1-img-card {
    background-image: url("https://www.thinkleansixsigma.com/_next/image?url=https%3A%2F%2Fimages.prismic.io%2Fvoitto-blog%2Faead9917-02f6-41fb-b845-c161c0b0c5c0_creativity-and-innovation.jpg&w=1920&q=95");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.what-we-do-hover-sec1-img-card-para {
    font-size: 15px;
}
.what-we-do-hover-sec1-line {
    border:0px;
    border-radius: 10px;
    height: 2px;
    background-color: grey;
    margin-bottom: 20px;
}
.what-we-do-hover-sec1-para-company {
    margin-bottom: 10px;
}


.what-we-do-hover-secs-head {
    font-size: 30px;
    font-family: "Syne";
    height: 12vh;
    margin-bottom: 20px;
}

.what-we-do-hover-secs-para {
    margin-bottom: 10px;
    color: grey;
}
.what-we-do-hover-secs-img {
    height: 50%;
    border-radius: 20px;
    margin-bottom: 30px;
}

@media (max-width: 1280px) {
    
}

/* what we do hover content ends*/


.navlinks {
    width: 40%;
    animation-duration: 2s;
    transition: 0.4s;
    animation-name:widthIncrease;
}
.navlinks:hover {
    width: 50%;
}


.getintouch-card{
    background-color: #000;
    color: #fff;
    width: auto;
    font-size: 16px;
    gap: 4px;
    border-radius: 3.4rem;
    text-decoration: none;
    cursor: none;
    border: 1px solid #fff;
    transition: all 0.5s;
}
.getintouch-card:hover{
    background-color: transparent;
    border: 1px solid #fff;
}

/* mopbile view navbar*/

.mobile-view-navbar-container {
    display: none;
    transition: 1s;
    backdrop-filter: blur(7px);
}

.mobile-navbar-fullscreen-overlay {
    height: max-content;
    min-height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-overlay-logo-cross {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-overlay-btn {
    border:0px;
    border-radius: 20px;
    height: 50px;
    width: 60%;
    color: #000;
    background-color: grey;

}



@media (max-width: 768px) {
    .mobile-view-navbar-container {
        height: max-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: default;
    }
    .mobile-view-navbar-logo {
        height: 90px;
        width: 90px;
    }
    .mobile-navlinks {
        margin-top: 10%;
        font-family: "Unbounded";
        padding: 30px;
        display: flex;
        flex-direction: column;
        font-size: 17px;
        transition: 1s;
    }
    .services-drop-down {
        display: flex;
        flex-direction: column;
        color: grey;
        padding-left: 25px;
        transition: 0.4s;
    }
    .navbar {
        display: none;
    }
    
}
@media (max-width: 991px) {
    .navbar-logo {
        width: 20%;
    }
    .getintouch-card {
        width: 17vw;
        font-size: 13px;
        padding: 10px;
    }
    .navlinks {
        width: 60%;
    }
    .navlinks:hover {
        width: 60%;
    }
    
}



/* hero section */

.home-model {
    height: 100vh;
    position: relative;
    top: 30px;
}
.hero-content {
    position: absolute;
    top: 2%;
    width: 100%;
    margin-left: 30px;
      
}


.hero-h-title{
    color: white;
    background-image: linear-gradient(to bottom, #ffffff, #00000050);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 5.12rem;
    font-weight: 500;
    line-height: 120%;
    max-width: 768px;
    margin-top: 30px;
    margin-bottom: 50px;
}
@media screen and (max-width:1200px) {
    .hero-h-title{
        font-size:3.5rem;
    }
}
@media screen and (max-width:768px) {
    .hero-h-title{
        font-size:2rem;
    }
    .hero-content {
        top: 2%;
        align-items: center;
        margin-left: 0px;
    }
}
.inner-color-title{
    background-image: linear-gradient(to bottom, #fff, grey) ;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 45px;
    font-family: "Syne";
    mix-blend-mode: difference;
}
@media (max-width: 768px) {
    .inner-color-title {
        width: 80vw;
        font-size: 33px;
    }
    .home-model {
        height: 100vh;
    }
}

.after-hero-sec {
    position:relative;
    bottom: 50px;
    height: max-content;
}

/* section 2 */
.Companies-partner {
    border-radius: 50px;
    background-image: linear-gradient(90deg, #bccacf,#bccacf, #000);
    color: #000;
    padding: 40px;
    height: max-content;
    margin-left: 20px;
    margin-right: 20px;
    
}
.partner-not-ventor {
    font-weight: bold;
    padding-left: 40px;
    padding-right: 40px;
}
.sec2-company-logo {
    margin-right :20px;
    width: 15%;
}

.sec2-container {
    position: relative;
    bottom: 10px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-image: linear-gradient(90deg, #fff, #000000);
    border-bottom-left-radius: 50px;
    height: max-content;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.sec-2company-logo {
    height: 150px;
    width: 150px;
}

.text-area {
    color: #fff;
    position: absolute;
    opacity: 0.2;
    width: 100%;
    font-size: 50px;
    top: 50px;
}
.text-area-hover {
    color: #fff;
    position: absolute;
    opacity: 1;
    width: 20%;
    top: 50px;
    font-size: 50px;
    overflow:hidden;
    white-space: nowrap;
}

@media (max-width: 991px) {
    .partner-not-ventor {
        font-weight: bold;
        padding-left: 20px;
        padding-right: 20px;
    }
    .Companies-partner {
        padding: 20px;
        height: max-content;
        font-size: 13px;
        position: relative;
        bottom: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .sec-2company-logo {
        height: 150px;
        width: 150px;
        padding-left: 20px;
    }
}


@media (max-width: 768px) {
    .Companies-partner {
        padding: 20px;
        height: max-content;
        flex-wrap: wrap;
    }
    .partner-not-ventor {
        font-size: 17px;
        font-weight: bold;
        width: 100%;
        padding-left: 10px;
    }
    .sec2-company-logo {
        width: 30%;
        margin: 20px;
        
    }

    .sec2-container {
        height: max-content;
        bottom: 45px;
        padding: 20px;
    }
    .sec2-head {
        margin-left: 30px;
        font-size: 14px;
    }
}

/* section 3 */

.input-container {
    position: relative;
    bottom: 150px;
}
.placeholder {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.sec3-model {
    height: 120vh;
}

@media (max-width: 1028px) {
    .sec3-model {
        height: 90vh;
    }
}

@media (max-width: 768px) {
    .sec3-model {
        height: 50vh;
    }
    .placeholder {
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }
    .section3-container {
        height: 20vh;
    }
    .input-container {
        position: relative;
        bottom: 60px;
        background-color: #000;
    }
}



/* section 5 */

.sec5-hover-effect {
    background-color: #E2E2E2;
}
@media (max-width: 575px) {
    .card-hover-effect-card {
        margin-left: auto;
        margin-right: auto;
    }
}
.logo-service {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 90px;
    padding-bottom: 0px;
    gap: 30px;
    position: relative;
    bottom: 110px;
    background-color: #000;
    box-shadow: 0px -5px 5px 0px #fff;
}


.services {
    color: grey;
    font-size: 35px;
    font-weight: bold;
}
.our-services-head {
    font-family: "Syne", sans-serif;
    font-size: 60px;
    font-weight: bold;
}
.our-service-hover-cards {
    height: max-content;
}

@media (max-width: 768px) {
    .sec-5-logo {
        position: relative;
        left: 0px;
    }
    .logo-service {
        padding: 20px;
    }
    .services {
        color: grey;
        font-size: 24px;
    }
    .mobile-our-digital-service {
        justify-content: space-between;
        padding-right: 20px;
    }
    .our-services-head {
        font-size: 40px;
        margin-top: 30px;
    }
    .sec5-hover-effect {
        margin-left: auto;
        margin-right: auto;
        
    }
}
@media (max-width: 1024px) {
    .sec5-hover-effect {
        margin-left: auto;
        margin-right: auto;
    }
}

/* section 6 */




/* Optimize section 6 */

.optimize-section {
    
}

.sec6-card {
    
}

.sec6-content-list {
    list-style-type: disc;
    gap: 10px;
    margin-left: 10px;
}
.sec6-content-list-item  {
    margin-bottom: 10px;
}
.sec6-card-content {
    z-index: 99;
    background-color: #000;
    color: white;
    box-shadow: 0px 0px 20px 1px #fff;
    
    position: absolute;
    bottom: 0;
    padding: 15px;
    border-radius: 10px;
    font-family: "Oswald", sans-serif;
    
}
.sec6-card-head {
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    
}
.sec6-card-para {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 10px;
}

/* about section */
.about-sec-container {
    background-color: hsl(0, 0%, 89%);
    padding: 70px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 1px #fff;
    transition: 0.4s;
    color: #000;
    height: max-content;
    margin-bottom: 30px;
}
.about-sec-container:hover {
    box-shadow: 0px 0px 20px 1px #fff;

}
.about-sec-acm {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}
.about-sec-head {
    font-family: "Syne",sans-serif;
    font-weight: bold;
    font-size: 40px;
    width: 180%;
}
.about-sec-right-cont {
    width: 100%;
}
.about-sec-right-para {
    margin-bottom: 35px;
    font-weight: 300;
    color: grey;
}
.more-about {
    font-weight: bold;
    font-size: 15px;
}
.more-about-underline {
    width: 59%;
    color: #825fff;
    background-color: grey;
    height: 2px;
    border-radius: 10px;
}



.about-design {
    width: 25%;
}
.design-circle {
    height: 13px;
    width: 13px;
    background-color: #000;
    border-radius: 10px;
}
.dooted-line {
    border-top: 2px dashed grey;
    width: 100%;
}


.about-sec-below-design-content-para {
    width: 25%;
    
}

@media (max-width: 768px) {
    .about-sec-container {
        padding: 30px;
        padding-top: 50px;
        margin-bottom: 30px;
        height: max-content;
    }
    .about-sec-content {
        flex-direction: column;
    }
    .about-sec-head {
        font-size: 30px;
        width: 180%;
        margin-bottom: 20px;
    }
    .more-about-underline {
        width: 40%;
    }
    .about-sec-below-design-content-para {
        font-size: 10px;  
    }
}

@media (max-width:575px) {
    .home-about-design-mobile{
        display: flex;
        justify-content: flex-start ;
    }
    .about-se-design-cont{
        flex-direction: column;
    }
    .about-design {
        flex-direction: column;
    }
    .dooted-line {
        border-top: 40px dashed grey;
        width: 2px;
    }
    .dooted-line-last {
        display: none;
    }
    .about-sec-below-design-content{
        flex-direction: column;
        width: 100%;
    }
    .about-sec-below-design-content-para {
        width: 100%;
        margin-bottom: 25px;  
    }
}




/* Team Section 8*/

.team-sec-container {
    position: relative;
    bottom: 50px;
    height: max-content;
    background-color: #000;
    border-radius: 50px;
    padding: 70px;
    box-shadow: 0px 0px 10px 1px #000;
}
.team-sec-content {
    width: 50%;
}
.team-behind {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

.team-sec-head {
    font-family: "Syne", sans-serif;
    font-weight: bold;
    font-size: 40px;
    width: 180%;
    margin-bottom: 25px;
}
.team-sec-para {
    margin-bottom: 35px;
    font-weight: 500;
    color: grey;
}

.lets-connect-button {
    border-radius: 20px;
    background-color: #E2E2E2;
    
    color: #000;
    height: 50px;
    width: 200px;
}
.team-sec-image {
    border-radius: 50px;
    width: 45%;
}
.small-img {
    position: relative;
    top: 200px;
    right: 100px;
    height: 35%;
    width: 30%;
    border: 10px solid #000;
}

@media (max-width: 1028px) {
    .team-sec-container {
        height: max-content;
        padding: 50px;
        flex-direction: column;
        align-items: flex-start;
    }
    .team-sec-content {
        flex-direction: column;
        width: 100%;
    }
    .team-sec-image-container {
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        left: 80px;
    }
    .team-sec-head {
        font-size: 30px;
    }
    .team-sec-image {
        width: 60%;
    }
    .small-img {
        position: relative;
        top: 150px;
        width: 40%;
        height: 95%;
        border: 10px solid #000;
    }
}

@media (max-width: 575px) {
    .team-sec-image {
        width: 90%;
    }
    .small-img {
        position: relative;
        top: 150px;
        width: 45%;
        height: 95%;
        border: 10px solid #000;
    }
}


/* section 6 */
.data-driven-head {
    font-family: "Syne", sans-serif;
}
@media (max-width: 768px) {
    .sec6-container {
        height: max-content;
    }
}

/* section 7 */


.sec7-container {
    background-color: #E2E2E2;
    box-shadow: 0px -1px 10px 1px #E2E2E2;
    padding: 100px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    height: max-content;
    color: #000;
}




@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-90%);
    }
}
.sec7-logo-container {
    overflow-x: hidden;
    white-space: nowrap;
    animation: scroll-left 10s linear infinite;
    display: flex;
    will-change: transform; 
    width: max-content;
    justify-content: space-between;
}
.sec7-logo {
    margin-left: 20px;
    margin-right: 20px;
}


@media (max-width: 768px) {
    .sec7-container {
        padding: 50px;
        position: relative;
        bottom: 0px;
        height: max-content;
    }
    .sec7-logo {
        margin: 10px;
        width: 40%;
    }
    .sec7-logo-container {
        width: max-content;
    }
    
}



/* client video */

.client-video-section {
    background-color: #E2E2E2;
    padding: 80px;
    text-align: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.client-videos-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 7%;
}
.client-video-card {
    font-family: "Unbounded";
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    height: 70vh;
    width: 25%;
}

.client-video-card-div {
    height: max-content;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 80%;
}

.client-video-card-video {
    border-radius: 20px;
    
}


@media (max-width: 1028px) {
    .client-video-card {
        height: 50vh;
    }
}


@media (max-width: 768px) {
    .client-video-section {
        padding: 30px;
        padding-top: 50px;
    }
    .client-video-card {
        height: 70vh;
        width: 50%;
    }
}

@media (max-width: 575px) {
    .client-videos-card {
        margin-top: 10%;
    }
    .client-video-card {
        height: 55vh;
        width: 50%;
    }
}


/* section 9 */

.sec9-container {
    background-color: #E2E2E2;
    
    border-radius: 50px;
    height: max-content;
    padding: 100px;
    color: #000;
    box-shadow: 0px 0px 20px 1px #fff;
    position: relative;
    top: 20px;
}

.sec8-head {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    color: #000;
}

@media (max-width: 1028px) {
    .sec9-container {
        height: max-content;
        padding: 20px;
        padding-top: 50px;
        padding-bottom: 70px;
        position: relative;
        top: 0px;
    }
    .about-sec-head-carousel {
        flex-direction: column;
    }
}

/* blog section carousel */
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #E2E2E2;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.swiper-container {
    width: 80%;
}
.carousel-container {
    width: 80%;
    position: relative;
    left: 100px;
}
.mobile-carousel-container {
    display: none;
    width: 80%;
    position: relative;
    left: 100px;
}  

.blog-img {
    width: 100%;
    height: 35%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
.blog-sec-head {
    font-family: "Syne", sans-serif;
    font-weight: bold;
    font-size: 40px;
    width: 70vw;
    margin-top: 20px;
}
.carousel-card {
    height: 70%;
}

.blog-content {
    background-color: #000000;
    position: relative;
    bottom: 60px;
    height: 65%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: #E2E2E2;
    padding: 20px;
    padding-bottom: 20px;
    text-align: left;
  }

  .blog-time {
    color: grey;
    margin-bottom: 10px;
  }
.blog-des {
    font-size: 17px;
}

.view-more-line {
    height: 2px;
    background-color: #825fff;
    width: 74px;
    border-radius: 10px;
}
.view-more {
    font-weight: bold;
    font-size: 15px;
}



@media (max-width: 1028px) {
    .carousel-container {
        width: 100%;
        position: relative;
        left: 0px;
    }
    .blog-sec-head {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .swiper-container {
        width: 100%;
    }
    .carousel-card {
        width: 100%;
    }
    .blog-img {
        width: 100%;
        height: 50%;
    }
    .blog-time {
      font-size: 17px;
    }
    .blog-des {
        font-size: 17px;
    }
    .blog-content {
        height: 140px;
        bottom: 30px;
    }
}

@media (max-width: 575px) {
    .carousel-container {
        display: none;
    }
    .mobile-carousel-container {
        display: block;
        width: 100%;
        left: 0px;
        margin-top: 30px;
    }
    .swiper-container {
        width: 90%;
    }
    .carousel-card {
        width: 100%;
    }
    .blog-sec-head {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .blog-time {
        font-size: 17px;
      }
      .blog-des {
          font-size: 17px;
      }
}




/* Footer */

.footer-container-1 {
    background-color: #4d4d4d;
    position: relative;
    bottom: 0px;
    height: max-content;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 50px;
    padding: 70px;
}
.footer-head {
    font-family: "Syne", sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20%;
}
.avg-para {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
}
.six{
    font-size: 45px;
}
.seven {
    position: relative;
    top: 10px;
}

@media (max-width: 1028px) {
    .footer-container-1 {
        margin-left: 30px;
        margin-right: 30px;
        padding: 50px;
        padding-top: 40px;
    }
    .footer-head {
        font-size: 30px;
        margin-bottom: 15%;
    }
}

@media (max-width: 768px) {
    
    .footer-container-1 {
        bottom: 10px;
        height: max-content;
        margin-left: 15px;
        margin-right: 15px;
        padding: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer-mobile-signup-form {
        display: flex;
        justify-content: center;
    }
    .footer-head {
        font-size: 35px;
        margin-bottom: 50px;
    }
    .footer-container-1-head-form {
        flex-direction: column;
    }
    .footer-para {
        margin-bottom: 30px;
    }
}

.footer-container-2 {
    background-color: #E2E2E2;
    padding: 70px;
    position: relative;
    bottom: 50px;
    height: max-content;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 50px;
    color: #000;
}
.solutions {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 30px;
}
.solution-para {
    width: 25%;
    margin-bottom: 30px;
    color: grey;
}

.solution-gap-line {
    margin-top: 40px;
    margin-bottom: 20px;
    border: 0px;
    height: 2px;
    border-radius: 10px;
    background-color: #00000060;
}

.social-media-handle-logo {
    font-size: 30px;
}

@media (max-width: 768px) {
    .footer-container-2 {
        padding: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
        bottom: 40px;
        height: max-content;
        margin-left: 20px;
        margin-right: 20px;
    }
    .solution-para {
        width: 45%;
        margin-bottom: 20px;
    }
    .footer-links {
        flex-wrap: wrap;
        width: 100%;
    }
    .solution-page-link {
        width: 30%;
        display: flex;
        justify-content: center;
        height: 50px;
        font-size: 15px;
    }
    .solution-gap-line {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .term-and-condition-cont {
        flex-direction: column;
        align-items: flex-start;
    }
    .social-media-handles-card {
        order: -1;
        margin-bottom: 20px;
        margin-top: 10px;
    }
}